@import url('https://fonts.googleapis.com/css?family=VT323');


* {
    margin: 0;
    padding: 0;
  }

 body{
     display: flex;
     justify-content: center;
     margin-top: 50px;
     background: url("images/imagesForHtmlFile/skulls.jpg");
     background-repeat: no-repeat;
     background-size: cover;

}

canvas{
    font-family: "VT323";
}